<tr>
    <td>
        <a href="{{ path('_ez_content_view', {
            'contentId': row.contentId,
            'languageCode': row.translation_language_code,
        }) }}">{{ row.name }}</a>
    </td>
    <td>{{ row.modified|ez_full_datetime }}</td>
    <td>{{ row.type }}</td>
    {% if form.search_language.vars.choices|length > 1 %}
        <td>
            {% for language in row.available_translations %}
                {{ language.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </td>
    {% endif %}
</tr>
